In [1]:
pip --version

pip 20.2 from C:\Users\DarkGamerX100\AppData\Roaming\Python\Python37\site-packages\pip (python 3.7)

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [6]:
'''
PANDAS - Imp Functions
1) Series
2) DataFrame
'''
names_of_students = ['Abel','Janet','Mark','Jasmine']
pd.Series(names_of_students)

0       Abel
1      Janet
2       Mark
3    Jasmine
dtype: object

In [7]:
weight_of_students = [56.3,50.0,63.0,56.0]
pd.Series(weight_of_students)

0    56.3
1    50.0
2    63.0
3    56.0
dtype: float64

In [17]:
names = pd.Series(names_of_students)
weight = pd.Series(weight_of_students)
#pandas.DataFrame({'LABEL' : variable,...})
pd.DataFrame({'NAMES' : names, 'WEIGHT' : weight})

     NAMES  WEIGHT
0     Abel    56.3
1    Janet    50.0
2     Mark    63.0
3  Jasmine    56.0

In [21]:
#Describe the Relational Dataset
DF=pd.DataFrame({'NAMES' : names, 'WEIGHT' : weight}).describe()

          WEIGHT
count   4.000000
mean   56.325000
std     5.312485
min    50.000000
25%    54.500000
50%    56.150000
75%    57.975000
max    63.000000